Reinforcement y Deep Learning/Reporte/Eduardo Santizo - Primera Entrega Resultados.mp4
Reinforcement y Deep Learning/Reporte/Entrega Final Protocolo
Reinforcement y Deep Learning/Reporte/Protocolo/Entrega Final Protocolo
Reinforcement y Deep Learning/Reporte/Protocolo/Eduardo Santizo - Primera Entrega Resultados.mp4
Reinforcement y Deep Learning/Reporte/Protocolo/Documentos Auxiliares - Protocolo
Reinforcement y Deep Learning/Reporte/Tesis/Documentos Auxiliares - Tesis
